/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(218, 23%, 16%);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: hsl(217, 19%, 24%);
  border-radius: 20px;
  position: relative;
  height: 300px;
  width: 500px;
  
}

.advice-id{
    text-align: center;
    color: hsl(150, 100%, 66%);
    font-size: 18px;
    margin-top: 30px;
}

.advice-text {
  margin: 20px 25px;
  font-size: 25px;
  text-align: center;
  color: hsl(193, 38%, 86%);
  
}

.division {
  position: absolute;
  bottom: 60px;
  margin: auto;
  left: 0;
  right: 0;
  width: 80%;
}

.btn {
  background: url(../images/icon-dice.svg) no-repeat center;
  background-size: 20px;
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: -30px;
  margin: auto;
  right: 0;
  left: 0;
  background-color: hsl(150, 100%, 66%);
  padding: 30px;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 1px 1px 30px 1px hsl(150, 100%, 66%);
}

.btn:active{
    background-color: hsl(150, 69%, 28%);
}
